body
{
	font-family:'Droid Sans';
	background:#3e3e3e;
	margin:0;
}

#body
{
	width:100%;
	max-width:480px;
	min-width:320px;
	margin:0 auto;
}

#border
{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#072000), to(#337c03));
	padding:5px;
}

#header
{
	height: 40px;
	overflow:hidden;
}

#logo
{
	color:#dedfde;
	font-size:20px;
	margin: 7px 5px 0 7px;
	float:left;
}

#search_box
{
	padding:3px;
	float:right;
}

#search_input
{
	float:right;
	margin-right:5px;
}

#keyword
{
	width:160px;
	height:30px;
	color:#999;
	border-radius:6px;
	font-size:16px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#keyword:focus
{
	color:#000;
}

#search_submit
{
	float:right;
}

#submit
{
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat; 
	float:right;
	background-position: -110px 0; 
	width:32px;
	height:32px;
	-webkit-background-size: 154px 32px; 
	border:none;
}

#container
{
	border-radius:8px;
	overflow:hidden;
}

#activebar
{
	position:relative;
	height:40px;
	-webkit-box-shadow: 0 0 5px #444;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#91d403), to(#4aac03));		
	border-radius:8px 8px 0 0;
	z-index:2;
}

#feature_tab,
#trend_tab,
#category_tab
{
	overflow:hidden;
	display:inline-block;
	height:55px;
	width:34%
}

#feature_tab
{
	border-radius:8px 0 0 0;
	width:33%;
}

#category_tab
{
	border-radius:0 8px 0 0;
	width:33%;
}

.active
{
	background:url('{{ STATIC_URL }}image/pages/hotapps/tab.png') no-repeat;
	-webkit-background-size:100% 100%;
}

.tab
{
	line-height:40px;	
	text-shadow:0 1px 1px #befc00;
}

#feature_tab .tab,
#trend_tab .tab
{
	border-right:1px solid #89cc35;
}

#trend_tab .tab,
#category_tab .tab
{
	border-left:1px solid #619503;
}

.tab a
{
	color:#3c8903;
	display:block;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.active .tab
{
	color:#2c6000;
	text-shadow:0 1px 1px #fff;
}

#contents
{
	background-color:#fff;
	min-height:600px;
	text-align:center;
	margin-top:-1px;
}

.page_loading
{
	width:32px;
	height:32px;
	position:absolute;
	top:50%;
	left:50%;
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat;
	background-position: -74px 0;
	margin:-16px 0 0 -16px;
}

.bottom
{
	height:52px;
}

.app_loading
{
	display:none;
	width:32px;
	height:32px;
	margin:10px auto;
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat;
	background-position: -74px 0;
}

#scrollview_container
{
	overflow: hidden;
	min-height:130px;
}

.scroll
{
	position: relative;
        width:100%;
}

.scroll .slice:first-child
{
	display:block;
}

.scroll .slice
{
	float: left;
        width:100%;
	display:none;
}

.slice img
{
	width:100%;
}

.scrollbar
{
	text-align:center;
	position:relative;
	clear:both;
	top: -15px;
}

.scrollbar div
{
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat;
	background-position: -149px 0; 
	width: 5px;
	height: 5px;
	-webkit-background-size: 154px 32px;
	display:inline-block;
	margin:0 5px;
}

.scrollbar .black
{
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat;
	background-position: -15px 0; 
	width: 5px;
	height: 5px;
	-webkit-background-size: 154px 32px;
}
.scrollbar img
{
	width:5px;
	height:5px;
	margin:0 5px;
}

.app, .cate
{
	padding:6px 10px 7px;
	display:block;
	border-top:1px solid #fff;
	border-bottom:1px solid #dfe0df;
	text-align:left;
}

.row2
{
	background: url('{{ STATIC_URL }}image/pages/hotapps/list-bg.png') repeat;
	-webkit-background-size:2.66 auto;
}

.icon
{
	float:left;
}

.icon
{
	margin:3px 10px 3px 0;
	overflow:hidden;
	border-radius:7px;
	width:48px;
	height:48px;
}

.cate .icon
{
	margin:-4px 10px -4px 0;
}

ul
{
	margin:0;
	padding:0;
}

li
{
	list-style-type:none;
}

a
{
	text-decoration:none;
}

.app .details
{
	height:54px;
	overflow:hidden;
}

.title
{
	color:#000;
	font-size:16px;
	margin-bottom:3px;
}

.title.span
{
	max-width: 180px;
	display: inline-block;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.title.new
{
	margin-left: 5px;
	display:inline-block;
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat center right;
	background-position: -77px 0; 
	width: 26px; 
	height: 18px;
	-webkit-background-size: 154px 32px;
	vertical-align: middle;
}

.desp
{
	color:#9c9a9c;
	font-size:13px;
	line-height:1.2em;
	height:2.3em;
	overflow:hidden;
}

.cate .desp
{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.arr
{
	
	background:url('{{ STATIC_URL }}image/pages/hotapps/phone.png') no-repeat; 
	background-position: 0 0; 
	width: 8px; 
	height: 10px;
	margin: 22px 5px 22px 0;
	float:right;
	-webkit-background-size: 154px 32px;
} 

.cate .arr
{
	margin:22px 5px 22px 0;
}

.track
{
	float:right;
	margin-right:-1px;
	width:1px;
	visibility:hidden;
}

.clear
{
	clear:both;
}

#cateapps_title
{
	text-align:left;
	font-size:14px;
	padding:10px 0 5px 16px;
	background-color:#ddeeba;
	color:#4aa601;
	border-bottom:1px solid #bbb;
}

#trend_content,
#category_content
{
	padding-top:15px;
}
