{% load i18n %}

{% spaceless %}
{% for app in app_list %}
    {% cycle 'one' 'two' 'three' 'four' as itemcolors silent %}
    <a class='app {{ itemcolors }}' href='{{ app.download_url }}' onclick="track(this, 'item', '{{ app.title|addslashes }}' , '{{ app.download_url }}');" >
        <div class='layout'>
            <div class='icon'>
                <img class='lazy' src='{{ STATIC_URL }}image/pages/hotapps/dolphin.png' data-original='{{ app.favicon }}' />
                {% if app.price_type == 'Limit' %}
                    <span class='mark'>{% trans 'free' %}</span>
                {% endif %}
            </div>
            <ul class='details'>
                {% if app.is_new %}
                    <li class='title new'>{{ app.title }}</li>
                {% else %}
                    <li class='title'>{{ app.title }}</li>
                {% endif %}
                <li class='desp'>{{ app.short_description }}</li>
            </ul>
            <ul class='prices'>
                {% if app.price_type == 'Discount' or app.price_type == 'Limit' %}
                    <li class='original'>{{ app.original_price }}</li>
                    <li class='mark'></li>
                    <li class='now price'>
                {% else %}
                    <li class='price'>
                {% endif %}
                    {% if app.price_type == 'Free' %}
                        {% trans 'free' %}
                    {% else %} {% if app.price_type == 'Limit' %}
                        {% trans 'limit free' %}							
                    {% else %}
                        {{ app.price }}
                    {% endif %}{% endif %}
                </li>
            </ul>
            <div class='clear'></div>
        </div>
    </a>
{% endfor %}
{% endspaceless %}
