<html>
<head>
<title>Feedback</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: arial;">
<table width="480px"  style="border: 1px solid #ccc;border-left: 4px solid #27ba76;padding:12px 20px;font-size: 14px;line-height:24px;width:480px">
<tr>
  <td>
  <p>Hi:</p>
  <p>Score:<span style="color:#27ba76">%s ★</span></p>
  <p>Content:<span style="color:#27ba76">%s</span></p>
  <br/>
  <p>Thanks<br>I18N Studio</p>
  </td>
</tr>
</table>
</body>  
</html>
