{% extends "navigation/ipad_layout.html" %}

{% block promotion_click_url %}
	href='{{ promotion.click_url }}' onclick="_gaq.push(['_trackEvent', 'header', 'promotion', '{{ promotion.click_url }}']);"
{% endblock %}

{% block promotion_img_url %}
	{{ promotion.image_url }}
{% endblock %}

{% block promotion_title %}
	{{ promotion.title }}
{% endblock %}

{% block promotion_desp %}
	{{ promotion.description }}
{% endblock %}

{% block feature_click_url %}
	href='{{ feature.click_url }}' onclick="_gaq.push(['_trackEvent', 'feature', '{{ forloop.counter0 }}', '{{ feature.click_url }}']);"
{% endblock %}

{% block feature_image_url %}
	{{ feature.logo_url }}
{% endblock %}

{% block category_name %}
	{{ cate.name }}
{% endblock %}

{% block site_url %}
	href='{{ site.click_url }}' onclick="_gaq.push(['_trackEvent', 'category', '{{ cate.name }}', '{{ site.click_url }}']);"
{% endblock %}

{% block site_name %}
	{{ site.name }}
{% endblock %}

{% block ad_click_url %}
	href='{{ ad.click_url }}' onclick="_gaq.push(['_trackEvent', 'ad', '{{ forloop.counter0 }}', '{{ ad.click_url }}']);"
{% endblock %}

{% block ad_img_url %}
	{{ ad.image_url }}
{% endblock %}